@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --col_charleston_green: #202523ff;
  --col_old_lavender: #6c626fff;
  --col_xiketic: #100119ff;
  --col_tuscany: #b89a9fff;
  --col_xanadu: #728472ff;
  }

html {
  font-family: 'Heebo', sans-serif;
}
